[submodule "packages/minimal"]
	path = packages/minimal
	url = https://github.com/oliverjakobs/minimal
[submodule "packages/Ignis"]
	path = packages/Ignis
	url = https://github.com/oliverjakobs/Ignis
